.cart-component-container {
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.cart-component-container h5 {
  margin: 1rem auto;
}

.cart-container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-emptycart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 300px;
  max-width: 1024px;
  height: 80vh;
}

.cart-emptycart h2 {
  margin: 2rem;
  font-size: var(--step--1);
}

.cart-btn-link-productos {
  font-size: var(--step-1);
}

.cart-cantidad-por-categoria {
  margin: 0;
  color: rgb(255, 0, 0);
  font-size: var(--step--3);
  line-height: 0.8rem;
}

.cart-delete-btn {
  border-radius: 1rem;
  cursor: pointer;
  border: thin solid var(--error-color);
  width: 1.5rem;
  height: 1.5rem;
  color: var(--error-color);
  font-size: 1rem;
  position: absolute;
  background-color: transparent;
  top: 4px;
  right: 4px;
}

.cart-delete-btn:hover {
  opacity: 0.7;
  background-color: #ff000050;
}

.cart-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-item {
  border-radius: 0.2rem;
  margin: auto;
  max-width: 250px;
  height: 100%;
}

.cart-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  max-width: 350px;
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  border-radius: 0.2rem;
}

.cart-item img {
  width: 100%;
  height: auto;
  border-radius: 0.2rem 0.2rem 0 0;
}

.cart-item-total {
  font-weight: 500;
  font-size: var(--step--3);
  margin: 0.25rem;
}

.cart-item-total p {
  display: inline;
}

.card-product-price-container {
  width: 100%;
}

.cart-product-quantity {
  text-align: center;
  align-self: center;
  margin: auto;
  width: 100%;
}

.cart-product-quantity p {
  margin-left: 0.25rem;
  font-size: var(--step--3);
  text-align: center;
}

.cart-product-nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--first-color);
  height: 3rem;
  font-weight: 600;
  font-size: var(--step--3);
  line-height: 16px;
  text-align: center;
  padding: 0.25rem;
  letter-spacing: 0.1em;
}

.item-details-btn {
  margin-bottom: 0.5rem;
}
/* Btn vaciar carrito */

.btn-empty-cart {
  color: var(--white-color);
  background-color: var(--error-color);
  border-radius: 1rem;
  border: none;
  font-size: var(--step--1);
  cursor: pointer;
  margin: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  font-family: var(--font-family2);
}

.btn-empty-cart:hover {
  opacity: 0.5;
}

/* Cart Summary: */
.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: thin solid var(--third-color);
  border-radius: 0.6rem;
  background-color: white;
  margin: 1rem 0;
  max-width: 350px;
}

.cart-summary h3 {
  font-family: var(--font-family2);
  font-weight: 500;
}

.cart-summary-subtotal,
.cart-summary-total {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-color);
  font-size: var(--step--1);
  width: 100%;
  color: white;
  height: 2rem;
}

.cart-summary-total {
  font-weight: 600;
}

.cart-summary-subtotal {
  font-weight: 500;
  font-size: var(--step--2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cart-summary-p-envio {
  margin-top: 0.25rem;
  margin-bottom: 0;
  color: var(--first-color);
  font-size: var(--step--3);
  text-decoration: underline;
}

.cart-summary-confirm-shipping {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--first-color);
  font-size: var(--step--2);
  text-decoration: underline;
}

.envio-gratis-logrado {
  color: var(--correct-color);
}

.btn-go-to-pay {
  color: var(--white-color);
  background-color: var(--first-color);
  border-radius: 1rem;
  border: none;
  font-size: var(--step--1);
  cursor: pointer;
  margin: 0.5rem;
  height: 2.5rem;
  width: 10rem;
  font-family: var(--font-family2);
}

.btn-go-to-pay-spinner {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  border-radius: 50%;
  border: 0.5vw solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--white-color);
  animation: spinnerBtnPay 1s ease-out infinite;
}

@keyframes spinnerBtnPay {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */

@media screen and (min-width: 500px) {
  .cart-container {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: start;
  }

  .cart-summary {
    margin: 0 1rem;
    position: sticky;
    top: 1rem;
  }

  .cart-emptycart h2 {
    font-size: var(--step-1);
  }
}

@media screen and (min-width: 768px) {
  .cart-container {
    grid-template-columns: 65% 1fr;
    margin: auto 0 auto 1rem;
  }

  .cart-ul {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Ajusta el número de columnas dinámicamente */
    grid-template-rows: auto;
    justify-content: center; /* Centra los elementos si hay menos de los necesarios para llenar el espacio */
    gap: 1rem; /* Añade un espacio entre los elementos (opcional) */
  }
}

@media screen and (min-width: 1024px) {
  .cart-container {
    max-width: 1200px;
    grid-template-columns: 70% 1fr;
  }

  .cart-summary {
    margin: 0 1rem;
    position: sticky;
    top: 4rem;
  }

  .btn-empty-cart {
    grid-column: span 3;
  }
}
