.body-inicio-container {
  min-height: 80vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.articles-container {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0rem;
  text-align: center;
}

.body-producto-article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.body-producto-shade {
  background-color: #0005;
  width: 100%;
  height: 100%;
}

.articles-container h2 {
  font-family: sans-serif;
  letter-spacing: 3px;
  text-align: center;
  font-style: italic;
  font-size: var(--step-1);
  position: absolute;
  color: var(--white-color); /* Color del texto */
  text-shadow: 2px 2px 4px black; /* Sombra negra para legibilidad */
}

.articles-container img {
  width: clamp(200px, 50%, 300px);
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.button-link {
  display: inline-block;
  white-space: nowrap;
  border: none;
  font-size: var(--step--1);
  background-image: url("../../assets/fondo-madera.jpg");
  background-size: contain; /* Ajusta la imagen al contenedor sin recortar */

  background-position: center; /* Centra la imagen dentro del contenedor */

  /*
  background-image: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0.91),
    var(--first-alpha50-color) 75%
  );*/
}

@media screen and (min-width: 768px) {
  .body-inicio-container {
    min-height: auto;
  }

  .articles-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "article1 img1"
      "img2 article2";
  }

  .articles-container article:nth-of-type(1) {
    grid-area: article1;
  }

  .articles-container img:nth-of-type(1) {
    grid-area: img1;
  }

  .articles-container article:nth-of-type(2) {
    grid-area: article2;
  }

  .articles-container img:nth-of-type(2) {
    grid-area: img2;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-mobile-container {
    display: none;
  }
}
