.body-product-container {
  text-align: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.aviso-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  font-size: 0.8rem;
  color: var(--gray-color);
}

.listGroup {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px; /* Espaciado interno */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.5rem;
  place-items: center;
  margin: 1rem auto 1rem auto;
  background-color: white;
  padding-inline: 1rem;
  padding: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .aviso-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
