.header-container {
  width: 100%;
  margin: auto;
}

.user-logeado-div {
  display: block;
  padding-inline: 1rem;
  gap: 1rem;
  background-color: var(--third-color);
  margin-bottom: 0.5rem;
}

.user-logeado-div,
.user-verified,
.user-no-verified,
.change-password-btn {
  flex: 1;
}

.iniciar-sesion {
  color: var(--white-color);
  margin-bottom: 0.25rem;
  background-color: var(--first-color);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--step--1);
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
}

.change-password-btn {
  display: block;
  margin: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--step--2);
  color: var(--first-color);
}

.change-password-btn:hover {
  opacity: 0.8;
}

.singup-btn {
  color: var(--white-color);
  background-color: var(--first-color);
  padding: 0.3rem;
  border-radius: 1rem;
  border: none;
  font-size: var(--step--1);
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

.singup-btn:hover {
  opacity: 0.9;
}

.user-verified {
  color: var(--correct-color);
}

.user-no-verified {
  color: var(--error-color);
}

@media screen and (min-width: 500px) {
  .user-logeado-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .singup-btn {
    margin-bottom: 0rem;
  }
}
