.navlinks-container-desktop {
  display: none;
}

.no-scrolled {
  width: 32px;
  opacity: 0;
}

.scrolled {
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media screen and (min-width: 768px) {
  .navlinks-container-desktop {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    top: 0;
    align-self: center;
    align-items: center;
    width: 100%;
    border-radius: 0.25rem;
    height: 3rem;

    font-size: var(--step-0);
    background-color: var(--white-color);
    border-bottom: thin solid rgba(64, 61, 61, 0.1);
    z-index: 999;
    box-shadow: var(--box-shadow-2);
  }
}
