.footer {
  height: 2rem;
  /* background-image: linear-gradient(
    350deg,
    rgba(255, 255, 255, 0.91),
    var(--first-alpha75-color) 0%
  ); */
  background-color: var(--first-alpha75-color);
  width: 100%;
}

.footer-p {
  margin: auto;
}
