.footer {
  background-color: var(--second-color);
}

.footer-credits {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
}

.footer-credits a {
  color: #0073b1; /* Azul LinkedIn */
  text-decoration: none;
}

.footer-credits a:hover {
  text-decoration: underline;
}
