/**** Custom Properties ****/

:root {
  --first-color: #540591;
  --first-alpha50-color: #54059150;
  --first-alpha75-color: #54059175;
  --second-color: #abfa6e;
  --second-alpha50-color: #abfa6e50;
  --second-alpha75-color: #abfa6e75;
  --third-color: #ffc2cc;
  --third-alpha75-color: #ffc2cc50;
  --link-color: #509ee3;
  --title-color: #333333;
  --text-color: #222222;
  --white-color: #ffffff;
  --gray-light-color: #d6d6d6;
  --gray-color: #555;
  --gray-dark-color: #6b6b6b;
  --black-color: #000000;
  --error-color: #ff0000;
  --correct-color: #00913f;
  --white-alpha50-color: rgba(255, 255, 255, 0.5);
  --black-alpha50-color: rgba(0, 0, 0, 0.5);
  --max-width: 1200px;
  --header-height: 4rem;
  --navbar-mobile-height: 3rem;
  --box-shadow: 0.25rem 0.25rem 1rem rgba(58, 32, 32, 0.5);
  --box-shadow-2: 0rem 0.2rem 0.3rem 1px rgba(58, 32, 32, 0.2);
  --step--3: clamp(0.85rem, 0.75rem + 0.1vw, 0.9rem);
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  --font-family2: "Playwrite AR", cursive;
  --font-family3: "Roboto Condensed", sans-serif;
}

/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  padding-bottom: var(--navbar-mobile-height);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  opacity: 0.9;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* Fin Reset */

@media screen and (min-width: 768px) {
  html {
    padding-bottom: 0;
  }
}
